/*Beggin header*/
*{
	margin: 0;
	padding: 0;
}
#header{
	/*border: 1px solid red;*/
}
#header-menu-top{
	background-color: #424242;
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 1.5in;

}
.banner{
	width: 100%;
	height: 120px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
#header-menu-top a{
	text-decoration: none;
	color: #ececec;
	padding-right: 10px;
}
#header-right{
	padding-top: 20px;
	padding-left: 40px;
	color: #777;
}
#gio-hang{
	float: left;
}

#item-gio-hang{
	font-size: 30px;
	padding-left: 10px;
}
#header-logo{
	padding-left: 1.5in;
	height: 140px;
}

#header-before-later{
	float: left;
	padding-right: 20px;
}


#header-later{
	font-size: 30px;
	padding-left: 30px;
	border-left: 1px solid #777;
	margin-bottom: 20px;
}
button[type="button"]{
	font-size: 15px;
	padding-top: 5px;
	width: 100px;
	height: 40px;
}
input[type="text"]{
	border: 2px solid #79b260;
	border-radius: 3px 3px 3px 3px;
	float: left;
	margin-right: 0px;
}
button{
	background-color: #79b260;
	width: 1.736in;
	height: 0.542in;
	border:none;
	border-radius: 0px 3px 3px 0px;
}
#header-search{
	height: 140px;

}
#header-search .form-inline{
	padding-top: 10%;
}
#header-search .form-inline .form-control{
	width: 280px;
	height: 50px; 
}
#header-search .form-inline .btn{
	width: 130px;
	height: 50px;
}
#header-cart{
	border: 1px solid pink;
	height: 140px;

}
#header-menu-middle{
	border: 1px solid grey;
	height: 50px;
}
/*End Header*/

/*Beggin Banner*/
#banner{
	margin-top: 20px;
	margin-bottom: 20px; 
	/*border: 1px solid green;*/
	height: 400px;
}
#banner-slider{
	height: 400px;
	left: -15px;
}
#banner-deal{
	padding-left: 15px;
	border: 1px solid blue;
	height: 400px;
}
/*End Banner*/

/*Beggin Content*/
#content{
	border: 1px solid orange;
	height: 1000px;
}
#content-left-menu{
	border: 1px solid pink;
	height: 1000px;
}
#content-tab{
	border: 1px solid blue;
	height: 1000px;
}
#content-pagination{
	border: 1px solid red;
	height: 100px;
}
/*End Content*/

/*Beggin Footer*/
#footer{
	border: 1px solid pink;
	height: 250px;
}

/*End Footer*/