/*Beggin header*/
#header {
}
#header-menu-top{
	
	height: 30px;
	line-height: 30px;
	text-align: right;

}
#header-menu-top a{
	text-decoration: none;
	color: #ececec;
	padding-right: 10px;
}
#header-middle{
	background-image: url("images/bgr-header_02.jpg");
	background-size: 100% 140px;
}
#header-menu-top a:hover{
	color: #60ed21;
}
#header-logo{
	height: 140px;
}

#header-search{
	/*border: 1px solid green;*/
	height: 140px;

}
#header-search .form-inline{
	padding-top: 10%;
}
#header-search .form-inline .form-control{
	width: 280px;
	height: 50px;
	border: solid 3px #42ba0d; 
}
#header-search .form-inline .btn{
	width: 120px;
	height: 50px;
}
#header-cart{
	height: 140px;
}
#header-cart #cart-icon-info{
	height: 70px
}
#hearder-cart #cart-checkout{
	height: 70px;
}
#btnCheckout .btn{
	width: 100px;
}
#total{
	float: left;
}
#btnCheckout{
	float: right;
	padding-right: 10px;
	border-right: 1px solid #cecece;
}
#block{
	font-size: 30px;
	padding: 10px 10px;
	margin-top: 10px;
	border-right: 1px solid #cecece;
}
#block1{
	font-weight: bold;
	font-size: 25px;
}
#block2{
	height: 70px;
	padding: 30px 30px;
}
#block3{
	height: 70px;
	font-size: 24.5px;
	padding: 0px 0px;
	margin: 0px;
}
/*menu ngang*/
#header-menu-middle{
	/*border-top: solid 1px #cecece;
	border-bottom: solid 1px #cecece;*/
}
#header-menu-middle a{
	display: block;
	text-decoration: none;
	color: #6a6a6a;
	font-size: 19px;
	padding: 5px 5px;
}
#header-menu-middle ul{
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
#header-menu-middle a:hover{
	color:#ffffff;
	background-color: #8cce6f ;
}
#header-menu-middle ul li:hover > ul{
	display:block;
	z-index: 1; 
}
#header-menu-middle ul li{
	position: relative;
	display: inline-block;
	width: 116.5px;
}
#header-menu-middle ul li ul{
	position: absolute;
	display: block;
}
/*End Header*/

/*Beggin Banner*/
#banner{
	padding-top: 15px;
	/*border: 1px solid green;*/
	height: 375px;
}
#banner-slider{
	/*border: 1px solid pink;*/
	height: 360px;
}
#banner-deal{
	/*border: 1px solid blue;*/
	height: 360px;
}
/*End Banner*/

/*Beggin Content*/
#content{
	margin-top: 15px;
	border: 1px solid orange;
	height: 1000px;
}
#content-menu-left{
	border: 1px solid black;
	height: 1000px;
}
#content-tab{
	border: 1px solid blue;
	height: 1000px;
}
#content-pagination{
	border: 1px solid red;
	height: 100px;
}
/*End Content*/

/*Beggin Footer*/
#footer{
	border: 1px solid pink;
	height: 250px;
}
/*End Footer