/*Beggin header*/
*{
	margin: 0;
	padding: 0;
}
#header{
	
}
#header-menu-top{
	background-color: #424242;
	height: 30px;
	line-height: 30px;
	text-align: right;
	padding-right: 1.5in;

}
.banner{
	width: 100%;
	height: 120px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
#header-menu-top a{
	text-decoration: none;
	color: #ececec;
	padding-right: 10px;
}
#header-right{
	padding-top: 20px;
	padding-left: 40px;
	color: #777;
}
#gio-hang{
	float: left;
}

#item-gio-hang{
	font-size: 30px;
	padding-left: 10px;
}
#header-logo{
	padding-left: 1.5in;
	height: 140px;
}

#header-before-later{
	float: left;
	padding-right: 20px;
}
 
/*menu ngang*/
#header-menu-middle{
	/*border-top: solid 1px #cecece;
	border-bottom: solid 1px #cecece;*/
	margin-bottom: 15px;
	height: 25px;
}
#header-menu-middle a{
	display: block;
	text-decoration: none;
	color: #6a6a6a;
	font-size: 18px;
	padding: 5px 5px;
}
#header-menu-middle ul{
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
}
#header-menu-middle a:hover{
	color:#ffffff;
	background-color: #8cce6f ;
}
#header-menu-middle ul li:hover > ul{
	display:block;
	z-index: 1; 
}
#header-menu-middle ul li{
	position: relative;
	display: inline-block;
	width: 116.5px;
}
#header-menu-middle ul li ul{
	position: absolute;
	display: block;
}
/*End Header*/
 
#header-later{
	font-size: 30px;
	padding-left: 30px;
	border-left: 1px solid #777;
	margin-bottom: 20px;
}
button[type="button"]{
	font-size: 15px;
	padding-top: 5px;
	width: 100px;
	height: 40px;
}
input[type="text"]{
	border: 2px solid #79b260;
	border-radius: 3px 3px 3px 3px;
	float: left;
	margin-right: 0px;
}
button{
	background-color: #79b260;
	width: 1.736in;
	height: 0.542in;
	border:none;
	border-radius: 0px 3px 3px 0px;
}
#header-search{
	height: 140px;

}
#header-search .form-inline{
	padding-top: 10%;
}
#header-search .form-inline .form-control{
	width: 280px;
	height: 50px; 
}
#header-search .form-inline .btn{
	width: 130px;
	height: 50px;
}
#header-cart{
	border: 1px solid pink;
	height: 140px;

}
#header-menu-middle{
	border: 1px solid grey;
	height: 50px;
}
/*End Header*/

/*Beggin Banner*/
#banner{
	/*margin-top: 20px;
	margin-bottom: 20px; */
	/*border: 1px solid green;*/
	height: 375px;
}
#banner-slider{
	/*width: 100%;*/
	height: 360px;
	left: -15px;
}
#banner-deal{
	/*width: 100%;*/
	/*border: 1px solid blue;*/
	height: 360px;
}
/*End Banner*/

/*Beggin Content*/


#content{

	height: 800px;

}
#content-left-menu{
	border: 1px solid pink;
	height: 1000px;
}
#content-tab{
	border: 1px solid blue;
	height: 1000px;
}
#content-pagination{
	border: 1px solid red;
	height: 100px;
}

#content #content-menu-left{
	padding-left: 50px;
}
#content #content-menu-left .lv1-title{
	font-size: 25px;
}
#content #content-menu-left .lv2-title{
	font-size: 20px;
	background-color: green;
	width: 100%;
	position: relative;
}

.menu{
	position: absolute;
	background-color: #fcfdfb;
	width: 95%;
	top: 0px;
	left: 0px;
	z-index: 5;
	border: 1px solid #999;

}
.menu p{
	margin-top: 0;
	margin-bottom:0; 
}

.menu h3{
	margin-bottom: 0em;
	font-weight: normal;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px   
}

.list-menu{
	color: #fff;
    font-size: 18px;
    height: 50px;
    text-align: left;
    padding: 15px 0px 0px 20px;
    vertical-align: middle;
    background-color: #82bf67;
    font-weight: bold;
    cursor: pointer;
}
.sub-menu{
	left: 30px;
	/*border-bottom: 1px solid #777;*/

}

.sub-menu .item-lv1-inner{
	position: relative;
	padding: 0px 0px 0px 20px;
	border-left: 1px solid #e1e1d0;
	margin-top: 0px;
}
.sub-menu .item-lv1-inner .lv1-content .lv1-title{
	font-size: 12px;
}
.sub-menu .item-lv1-inner .lv1-content .lv1-desc .lv2-desc{
	font-size: 15px;
	border-bottom: 1px solid #999;
	margin-right: 50px; 
}

.sub-menu .item-lv1-inner .lv1-content .lv1-desc a{
	font-size: 15px;
	/*border-bottom: 1px solid #999;*/
}

.sub-menu .lv1-content{
	padding-top: 10px;
}
.sub-menu .lv1-content a{
	color: black;
	text-decoration: none;
}

.sub-menu .lv1-content a:hover{
	color: blue;
}
.sub-menu .item-lv1{
	list-style-type: none;
}s
/*End Content*/

/*Beggin Footer*/
#footer{
	width: 100%;
	background-color: 434248;
	border: 1px solid pink;
	height: 400px;
}

/*End Footer*/